@model ChangeForgotPassword

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

@if (ViewBag.TokenError != true) {
    <div style="background: url('https://mcarsstatic.cachefly.net/img/social/facebook/Mitsubishi-suv-crossovers-fb.jpg') no-repeat; background-size: cover">
        <div class="login-area" style="width:500px;margin:auto;padding:150px 0 150px 0">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center font-weight-bold">Reset Your Password Now</h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("ResetPassword", "ForgetPassword", null, FormMethod.Post)) {
                        @Html.ValidationSummary(true)
                        <div>
                            <i class="fas fa-envelope"></i> @Html.LabelFor(model => model.Password, new { @class = "form-label" })
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="mt-3">
                            <i class="fas fa-lock"></i> @Html.LabelFor(model => model.ConfirmPassword, new { @class = "form-label" })
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <button type="submit" class="btn btn-info btn-block mt-3"><i class="fas fa-exchange-alt"></i> Submit</button>
                    }
                </div>
            </div>
        </div>
    </div>
} else {
    <div class="">
        <h1 class="text-danger text-center"><i class="fas fa-skull-crossbones"></i>Token is expired or invalid!</h1>
    </div>

}
